@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;900&display=swap");
:root {
  --red-color: #EF4B4B;
  --yellow-color: #f3d250;
  --grey-color: #ececec;
  --lightblue-color: #90ccf4;
  --blue-color: #046582;
}

body {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

.navbar {
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  font-weight: 300;
}

.navbar nav {
  display: none;
}

.navbar nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: #20272E;
  height: 100vh;
  padding: 1em;
}

.navbar nav ul.primary-nav {
  margin-top: em;
}

.navbar nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: .5em;
  font-size: 1.3em;
  text-align: right;
}

.navbar nav li a:hover {
  font-weight: bold;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  width: 25px;
  cursor: pointer;
}

section {
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#section1 {
  background: #046582;
}

#section2 {
  background: #dbeb00;
}

#section3 {
  background: #f55110;
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 30PX;
  cursor: pointer;
}

.scroll-down::before, .scroll-down::after {
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid black;
  height: 10px;
  width: 10px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  -webkit-animation: scroll-down 1s ease-in-out infinite;
          animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after {
  top: 30%;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 70%;
  }
}

@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 70%;
  }
}

.porfolio-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.porfolio-container .left {
  position: relative;
  text-align: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.porfolio-container .left p {
  background: white;
  position: absolute;
  margin-top: -25%;
  right: 17%;
  color: black;
  padding: 1em;
  border-radius: 15px;
  width: 20vw;
  text-align: left;
}

.porfolio-container .left img {
  width: 50%;
}

.porfolio-container .right {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.porfolio-container .right h2 {
  color: white;
  font-size: 1.7em;
}

.anim {
  opacity: 0;
}

@-webkit-keyframes anim1 {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

@keyframes anim1 {
  from {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
    opacity: 1;
  }
}

.blog-container {
  position: relative;
}

.blog-container ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: middle;
      -ms-flex-align: middle;
          align-items: middle;
  place-content: center;
  height: 100vh;
  font-size: 40px;
}

.blog-container span {
  width: 110px;
  height: 110px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: black;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */